name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
            go-version: '1.23.x'
            check-latest: true

      - name: Install dependencies
        run: go mod tidy

      - name: Build the application
        run: go build -v ./...
